@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PrincipalModel
<div class="container-fluid px-4">
    <h1 class="mt-4">Sistema de Ventas para Librería Dieka</h1>
    <br />
    <div class="row">
        <div class="col-sm-2 text-right">
            <p class="font-weight-bold">
                Estado de Caja:
            </p>
        </div>
        <div class="col-sm-1">
            @if (Model.estadoCaja.Equals("Abierta"))
            {
                <div class="text-success font-weight-bold text-left"><i class="bi bi-unlock-fill" style="color:green"></i>Abierta</div>
            }
            else
            {
                <div class="text-danger font-weight-bold text-left"><i class="bi bi-lock-fill" style="color:red"></i>Cerrada</div>
            }
        </div>
        <div class="col-sm-2 text-right">
            <p class="font-weight-bold">
                Fecha del sistema: 
            </p>
        </div>
        <div class="col-sm-3">
            @Model.FechaSiste
        </div>
    </div>
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Navegación del sitio</li>
    </ol>
    <br />
    <br />
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/userMain.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link text-center" href="/Users/Users?area=Users">Usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/CustomerMain.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link" href="/Clientes/Clientes?area=Clientes">Clientes</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/SupplyMain.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link" href="/Proveedores/Proveedores?area=Proveedores">Proveedores</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/BuyMain.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link" href="/Compras/AgregarCompra">Compras</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/VentasMain.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link" href="/Ventas/AgregarVenta">Ventas</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/openCash.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link" href="#">Apertura de Caja</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/closeCash.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link" href="#">Cierre de Caja</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body text-center">
                    <img class="card-img" style="width:100px;" src="~/images/images/AnalisisCash.png" />
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between text-center">
                    <a class="text-white stretched-link" href="#">Análisis</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
