@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <h1>Ups! Algo salio mal</h1>
    <div class="row">
        <div class="col-sm text-center">
            <div class="card text-center">
                <div class="card-header">
                    <img class="card-img-top" style="width:200px; height:200px;" src="~/images/images/lock.png" />
                </div>
                <div class="card-body">
                    <h5>No esta autorizado para realizar a esta tarea. Contacte con su administrador para solicitar ayuda. </h5>
                    <a href="https://localhost:44325/Principal/Principal">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

