@page "/Cajas/Apertura_Caja"
@model Apertura_CajaModel
@{
}
<div class="container">
    <h1 class="text-center">Apertura de Caja</h1>
    <div class="row alert alert-info" role="alert">
        <div class="col-sm-6 col-md-3">
            <img src="/images/images/informacion.png" style="width:50px; height:50px;" />
        </div>
        <div class="col-xs-6 col-md-5">
            <P>Digite la cantidad de monedas o billetes con los que se abre la caja.</P>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-sm-4">
                <h3>Monedas</h3>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢5</span>
                        </div>
                        <input asp-for="Input.CantMonedasCinco" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputMonCinco" onkeyup="apertura.calculaTotal()"/>
                    </div>
                    <span asp-validation-for="Input.CantMonedasCinco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢10</span>
                        </div>
                        <input asp-for="Input.CantMonedasDiez" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputMonDiez" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantMonedasDiez" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢25</span>
                        </div>
                        <input asp-for="Input.CantMonedasVeinticinco" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputMonVeinticinco" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantMonedasVeinticinco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢50</span>
                        </div>
                        <input asp-for="Input.CantMonedasCincuenta" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputMonCincuenta" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantMonedasCincuenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢100</span>
                        </div>
                        <input asp-for="Input.CantMonedasCien" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputMonCien" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantMonedasCien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢500</span>
                        </div>
                        <input asp-for="Input.CantMonedasQuinientos" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputMonQuinientos" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantMonedasQuinientos" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Billetes</h3>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢1000</span>
                        </div>
                        <input asp-for="Input.CantBilletesMil" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputBillMil" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantBilletesMil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢2000</span>
                        </div>
                        <input asp-for="Input.CantBilletesDosMil" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputBillDosMil" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantBilletesDosMil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢5000</span>
                        </div>
                        <input asp-for="Input.CantBilletesCincoMil" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputBillCincoMil" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantBilletesCincoMil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢10000</span>
                        </div>
                        <input asp-for="Input.CantBilletesDiezMil" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputBillDiezMil" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantBilletesDiezMil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢20000</span>
                        </div>
                        <input asp-for="Input.CantBillesVeinteMil" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputBillVeinteMil" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantBillesVeinteMil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">¢50000</span>
                        </div>
                        <input asp-for="Input.CantBilletesCincuentaMil" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputBillCincuentaMil" onkeyup="apertura.calculaTotal()" />
                    </div>
                    <span asp-validation-for="Input.CantBilletesCincuentaMil" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Totales</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <span class="text-danger labelCompra_Importe">
                                <label>Total Dinero en caja: </label>
                                @Html.Raw(Model.Input.Moneda)
                                <label class="text-success labelCompra_Importe" id="label_Dinero_En_Caja">0.00</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="text-danger labelCompra_Importe">
                                <label>Total Dinero en cuentas: </label>
                                @Html.Raw(Model.Input.Moneda)
                                <label class="text-success labelCompra_Importe" id="label_Dinero_En_Cuentas">0.00</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Cuentas</span>
                        </div>
                        <input asp-for="Input.Dinero_Cuentas" placeholder="0" class="form-control" min="0" autocomplete="off" id="inputDineroCuentas" onkeyup="apertura.dineroCuentas()" />
                    </div>
                    <span asp-validation-for="Input.Dinero_Cuentas" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn-outline-info btn-sm btn-block" style="font-size:20px;">Aperturar Caja</button>
        <div class="form-group">
            <label class="text-danger">
                @Html.DisplayFor(m=> m.Input.ErrorMessage)
            </label>
        </div>
    </form>
</div>
